@charset "UTF-8";	
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Poor+Story&family=Sunflower:wght@700&display=swap');

/*메뉴 선택시 적용*/
.menuActive {
	background-color : lightgray;
	color : lightgray;
}


/*회원목록*/
#members {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#members td, #members th {
  border: 1px solid #ddd;
  padding: 8px;
}

#members tr:nth-child(even){background-color: #f2f2f2;}

#members tr:hover {background-color: #ddd;}

#members th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightgreen;
  color: white;
}
/*공통*/
.page_title {
	font-family: 'Hi Melody', cursive;
	background-color: lightyellow;
}
label {
	width : 150px;
	display : inline-block; 
}

.regist input, textarea {
	color : lightblue;
	border : 1px dotted green;
}

.label {
	border : 1px solid black;
	width : 150px;
	display : inline-block;
	font-weight : bold;  
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

.menu li {
  float: left;
}
ul.search {
  list-style-type: none; 
  border : 1px solid green;
}
.search li {
  display: inline-block;
}
.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
.menu li a:hover {
  background-color: #111;
}